<html>
<head></head>
<body bgcolor="#F6F6F6" style="background-color:#f6f6f6;">
<table width="100%">
    <tr>
        <td width="16" height="16">&nbsp;</td>
        <td height="16">&nbsp;</td>
        <td width="16" height="16">&nbsp;</td>
    </tr>
    <tr>
        <td width="16">&nbsp;</td>
        <td bgcolor="#FFFFFF" style="max-width:360px; backround-color:#ffffff;">
            <table>
                <tr>
                    <td style="padding:0 10px;">
                        <p>Hello {{ name }},</p>
                        <p>Please use the following token to reset your password:</p>
                        <p>
                            <code style="font-size:16px;">{{ reset_token }}</code>
                        </p>
                        <p>This token will expire in {{ reset_time }} minutes. If you believe you have received this email in error, please contact support at <a href="mailto:support@nessemble.com">support@nessemble.com</a>.</p>
                        <p>Thank you,<br>Nessemble</p>
                    </td>
                </tr>
            </table>
        </td>
        <td width="16">&nbsp;</td>
    </tr>
    <tr>
        <td width="16" height="16">&nbsp;</td>
        <td align="center" bgcolor="#F7F7F7" style="background-color:#F7F7F7;">
            <table>
                <tr>
                    <td align="center">
                        <p style="margin:0; font-size: 10px; color:#999999;">
                            <a style="color:#999999; font-size: 10px; text-decoration:none;" href="http://nessemble.com/">Home</a> | <a style="color:#999999; font-size: 10px; text-decoration:none;" href="http://docs.nessemble.com/">Documentation</a> | <a style="color:#999999; font-size: 10px; text-decoration:none;" href="mailto:support@nessemble.com">Support</a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
        <td width="16" height="16">&nbsp;</td>
    </tr>
    <tr>
        <td width="16" height="16">&nbsp;</td>
        <td height="16">&nbsp;</td>
        <td width="16" height="16">&nbsp;</td>
    </tr>
</table>
</body>
</html>
