.DS_Store
.vagrant
release
init.h
license.h
lex.yy.c
lua-5*
nessemble
nessemble.js
opcodes.c
package/payload
reference/**/*.h
scripts.h
strings.h
third-party/**/*.o
y.tab.*
*.db
*.deb
*.dll
*.dSYM
*.exe
*.log
*.mo
*.o
*.pkg
*.po
*.pot
*.pyc
*.so
*.tar.gz
