.DS_Store
.vagrant
docs/mkdocs.yml
docs/site
docs/pages/css/docs.css
docs/pages/js/docs.js
init.h
license.h
lex.yy.c
nessemble
nessemble.js
nessemble.min.js
nessemble.wasm
opcodes.c
package/payload
reference/**/*.h
release
scripts.h
font.h
src/third-party/**/*.o
src/third-party/lua*
src/third-party/tinyscheme*
strings.h
test/js/*.js
website/settings.cfg
y.tab.*
*.chr
*.db
*.deb
*.dll
*.dSYM
*.exe
*.log
*.mo
*.o
*.pkg
*.po
*.pot
*.pyc
*.so
*.tar.gz
