/**
 * Nessemble Assembler
 */
.nessemble-assembler {
    width: 100%;
    display: none;
}
.nessemble-assembler.show {
    display: block;
}
.nessemble-assembler textarea {
    margin-bottom: -1px;
    padding: 12px;
    color: #404040;
    border-color: #cccccc !important;
    font-size: 12px;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    white-space: pre;
    word-wrap: normal;
}
.nessemble-assembler textarea.exec {
    width: 33%;
    height: 40px;
    float: left;
    resize: none;
}
.nessemble-assembler textarea.input {
    min-height: 120px;
    display: block;
}
.nessemble-assembler.bare textarea.input {
    min-height: 240px;
}
.nessemble-assembler.flags textarea.input {
    width: 66%;
    height: 40px;
    min-height: 0;
    margin-left: -2px;
    float: left;
    resize: none;
}
.nessemble-assembler form {
    margin-bottom: -1px;
    padding: 12px 12px 6px;
    border: 1px solid #cccccc;
    display: none;
}
.nessemble-assembler form.show {
    display: block;
}
.nessemble-assembler form .pseudo-opt {
    height: 14px;
    padding: 0 0 6px;
    box-sizing: content-box;
    overflow: hidden;
}
.nessemble-assembler form .pseudo-opt input {
    display: inline-block;
    float: left;
}
.nessemble-assembler form .pseudo-opt label {
    margin:0;
    font-size: 12px;
    line-height: 14px;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    color: #404040;
    display: inline-block;
    float: left;
}
.nessemble-assembler pre {
    margin-top: -3px;
}
.nessemble-assembler code {
    max-height: 300px;
    display: none;
    overflow: scroll;
}
.nessemble-assembler.bare code {
    max-height: 600px;
}
.nessemble-assembler code.show {
    display: block;
}
