/**
 * Random Styles
 */
li.toctree-l2:first-child {
    display: none;
}
code.text {
    color: #404040
}

/**
 * Colors
 */
.color-black {
    color: #000000;
}
.color-green {
    color: #41C300;
}
.color-dgrey {
    color: #555555;
}
.color-lgrey {
    color: #AAAAAA;
}
.color-red {
    color: #E74C3C;
}
.color-white {
    color: #FFFFFF;
}
