/**
 * Registry Example
 */
.registry-example {
    width: 100%;
    display: none;
}
.registry-example.show {
    display: block;
}
.registry-example textarea {
    margin-bottom: -1px;
    padding: 12px;
    color: #404040;
    border-color: #cccccc !important;
    font-size: 12px;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    white-space: pre;
    word-wrap: normal;
}
.registry-example textarea.registry {
    width: 50%;
    height: 40px;
    float: left;
    resize: none;
}
.registry-example textarea.endpoint {
    width: 50%;
    height: 40px;
    min-height: 0;
    margin-left: -2px;
    float: left;
    resize: none;
}
.registry-example pre {
    margin-top: -3px;
}
.registry-example code {
    max-height: 300px;
    display: none;
    overflow: scroll;
}
.registry-example code + code {
    margin-top: -1px;
}
.registry-example code.show {
    display: block;
}
