<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nessemble | NES Assembler</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/website.css') }}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700" />
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ analytics_id }}', '{{ analytics_domain }}');
        ga('send', 'pageview');
    </script>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="nessemble-icon"></i> Nessemble
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Download</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ documentation }}">Documentation</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contribute">Contribute</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="brand-heading">Nessemble</h1>
                        <p class="intro-text">
                            A 6502 assembler for the Nintendo Entertainment System
                            <br />
                            <a href="//github.com/kevinselwyn/nessemble/releases">Windows</a> |
                            <a href="//github.com/kevinselwyn/nessemble/releases">Mac</a> |
                            <a href="//github.com/kevinselwyn/nessemble/releases">Linux</a>
                        </p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Nessemble</h2>
                <p>Nessemble is a 6502 assembler, disassembler, and simulator targeting the Nintendo Entertainment System</p>
                <p>See it in action:<br />(recorded with <a href="//asciinema.org/" target="_blank">asciinema</a>)</p>
                <asciinema-player src="{{ url_for('static', filename='data/recording/example.json') }}"></asciinema-player>
                <p>Actual assembled ROM:<br />(emulated with <a href="//github.com/bfirsh/jsnes">JSNES</a>)</p>
                <div id="emulator-frame">
                    <div id="emulator"></div>
                    <div id="emulator-tv"></div>
                </div>
            </div>
        </div>
    </section>

    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Nessemble</h2>
                    <p>Read the <a href="{{ documentation }}">documentation</a></p>
                </div>
            </div>
            <div class="row">
                <ul class="list-inline banner-download-buttons">
                    <li>
                        <a href="//github.com/kevinselwyn/nessemble/releases" class="btn btn-default btn-lg"><i class="fa fa-windows fa-fw"></i> <span class="network-name">Windows</span></a>
                    </li>
                    <li>
                        <a href="//github.com/kevinselwyn/nessemble/releases" class="btn btn-default btn-lg"><i class="fa fa-apple fa-fw"></i> <span class="network-name">Mac</span></a>
                    </li>
                    <li>
                        <a href="//github.com/kevinselwyn/nessemble/releases" class="btn btn-default btn-lg"><i class="fa fa-linux fa-fw"></i> <span class="network-name">Linux</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="contribute" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contribute</h2>
                <p>Help contribute or log issues on <a href="//github.com/kevinselwyn/nessemble">GitHub</a></p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="//github.com/kevinselwyn/nessemble" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Kevin Selwyn 2017</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/website.js') }}"></script>
    <script type="text/javascript">
        var nes = new JSNES({
            ui: $('#emulator').JSNESUI('{{ url_for('static', filename='data/roms/example.nes') }}')
        });
    </script>
</body>
</html>
